doctype
html
    head
        title Test task
        include jade-includes/head
    body
        .page-wrap
            include components/main
            include components/features
            include components/buy-now
        include components/bottom
        //scripts
        include jade-includes/js-include
