.footer-block {
  .footer {
    padding: 40px 140px 25px 140px;
    margin-top: 55px;
    &-menu {
      text-align: center;
      &__item {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
      }
    }

    &__copyright {
      margin-top: 40px;
      text-align: center;
      font-size: 18px;
    }
  }
}