.buy-now-block {
  margin-top: 20px;
  background: #f5f9f7;
}
.buy-now {
  overflow: hidden;
  padding: 80px 140px 90px 80px;
  .buy-now__image {
    float: left;
  }

  .buy-now__link {
    margin-top: 20px;
    font-size: 31px;
    font-weight: 300;
    background: #347a51;
    padding: 13px 25px;
    float: right;
  }
}