.buy-now-block {
  margin-top: 20px;
  background: #f5f9f7;
}

.buy-now {
  &__image {

  }

  &__link {
    margin-top: 20px;
    font-size: 31px;
    font-weight: 300;
    background: #347a51;
    padding: 13px 25px;

  }
}

//responsive

@media(min-width: 951px) {
    .buy-now{
      padding: 80px 140px 90px 80px;
      &__image {
        float: left;
      }
      &__link {
        float: right;
      }
    }
}

@media(max-width: 950px) {
  .buy-now{
    padding: 80px 0 90px 0;
    text-align: center;
    &__image {
      display: block;
      margin: 0 auto 50px;
    }
    &__link {

    }
  }
}