.description {
  clear: both;
  padding-top: 45px;
  font-weight: 300;
  padding-bottom: 35px;
  &__title {
      font-size: 35px;
  }

  &__text {
    text-align: center;
    line-height: 1.4;
    font-size: 22px;
  }
}