.features-block {
  margin-top: 50px;
  background: $grey;
}

.features {
  padding: 25px 0 45px;
  position: relative;
  &-desc {
    max-width: 100%;
    text-align: center;
    font-weight: 300;
    z-index: 2;
    position: relative;
    &__title {
      font-size: 33px;
    }

    &__text {
      margin-top: 40px;
      font-size: $regular-text-size;
      line-height: 1.3;
    }
  }
  &__image {
  }
}

//responsive

@media(min-width: 951px) {
  .features {
    &-desc {
      width: 510px;
      display: block;
      left: 0;
    }
    &__image {
      position: absolute;
      right: 0;
      top: 35px;
      z-index: 1;
    }
  }
}

@media(max-width: 950px) {
  .features {
    &-desc {
      width: 100%;
    }
    &__image {
      display: block;
      margin: 0 auto;
    }
  }
}