.footer {
  padding-top: 45px;
  padding-bottom: 25px;
  margin-top: 55px;
  &-menu {
    margin: 0 auto 50px;
    &__item {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__copyright {
    text-align: center;
  }
}