.main {
  position: relative;
  .header {
    padding-top: 30px;

    &-menu {
      margin-top: 10px;
      font-weight: 400;
      &__item {
        font-size: 18px;
        &_button {
          a {
            padding: 7px 30px;
            border: 3px solid #000;
            text-align: center;
          }
        }
      }
    }
  }

  .description {
    clear: both;
    padding-top: 45px;
    font-weight: 300;
    padding-bottom: 35px;
  }
}

//responsive
@media(min-width: 721px) {
  .main {
    padding-left: 22px;
    padding-right: 22px;

    .header-block {
      padding: 0 20px 0 20px;
    }

    .header {
      &__logo {
        float: left;
      }
      &-menu {
        float: right;
        &__item {
          display: inline-block;
          vertical-align: middle;
          &_button {
            margin-left: 60px;
          }
        }
      }
    }

    .description {
      &__title {
        font-size: 35px;
        margin: 10px 0 45px 120px;
      }

      &__image {
        margin-left: 60px;
      }
      &__text {
        text-align: center;
        line-height: 1.3;
        font-size: 22px;
      }
    }
  }
}

@media(max-width: 720px) and (min-width: 401px) {
  .main {
    padding-left: 22px;
    padding-right: 22px;

    .header {
      &__logo {
        display: block;
        margin: 0 auto;
      }
      &-menu {
        display: block;
        margin: 10px auto;
        width: 355px;
        ._margin {
          width: 10px;
        }
        &__item {
          display: inline-block;
          vertical-align: middle;
          &_button {
            margin-left: 10px;
          }
        }
      }
    }
  }

  .description {
    margin: 0 auto;
    &__title {
      display: block;
      margin: 0 auto 10px auto;
    }

    &__image {
      display: block;
      margin: 0 auto 10px auto;
    }
    &__text {
      line-height: 1.3;
      font-size: 22px;
    }
  }
}

@media(max-width: 400px) {
  .main {
    padding-left: 5px;
    padding-right: 5px;
    .header {
      &__logo {
        display: block;
        margin: 0 auto;
      }
      &-menu {
        display: block;
        margin: 10px auto;
        ._margin {
          display: none;
        }
        &__item {
          display: block;
          margin: 15px auto;
          text-align: center;
          &_button {
            display: block;
            margin-top: 30px;
          }
        }
      }
    }

    .description {
      margin: 0 auto;
      &__title {
        display: block;
        margin: 0 auto 10px auto;
      }

      &__image {
        display: block;
        margin: 0 auto 10px auto;
      }
      &__text {
        line-height: 1.3;
        font-size: 22px;
      }
    }
  }
}