section.bottom
    footer.footer._gradient-background
        .container
            nav.footer-menu
                ul
                    li.footer-menu__item
                        a(href='#') About Us
                    ._margin1
                    li.footer-menu__item
                        a(href='#') Contact Us
                    ._margin1
                    li.footer-menu__item
                        a(href='#')
                            img(src='img/fb.png' alt='facebook')
                    ._margin1
                    li.footer-menu__item
                        a(href='#')
                            img(src='img/gp.png' alt='google plus')
                    ._margin1
                    li.footer-menu__item
                        a(href='#')
                            img(src='img/tw.png' alt='twitter')
            .footer__copyright ©Copyright 2016