section.footer-block._gradient-background
        .container
            footer.footer
                nav.footer-menu
                    ul
                        li.footer-menu__item
                            a(href='#') About us
                        ._margin1
                        li.footer-menu__item
                            a(href='#') Contact Us
                        ._margin2
                        li.footer-menu__item
                            a(href='#')
                                img(src='img/fb.png' alt='facebook')
                        ._margin2
                        li.footer-menu__item
                            a(href='#')
                                img(src='img/gp.png' alt='google plus')
                        ._margin2
                        li.footer-menu__item
                            a(href='#')
                                img(src='img/tw.png' alt='twitter')
                .footer__copyright ©Copyright 2016