section.features-block
    .container
        .features
            .features-desc
                h1.features-desc__title Features:
                div.features-desc__text
                    | Screen blocking during break exercises.
                    br
                    | Short break with eye exercises.
                    br
                    | Visual explanation of every exercise.
                    br
                    | Notifications announcing a long break coming.
                    br
                    | Strict mode that doesn't allow skipping the breaks.
                    br
                    | Customizable preferences.
                    br
                    | and more...
            img(src='img/mac.png' alt='macbook air').features__image

