section.main._gradient-background
    .container
        header.header-block
            .header
                img(src='img/logo.png' alt='eyeleo logo').header__logo
                nav.header-menu
                    ul
                        li.header-menu__item
                            a(href='#') Features
                            ._margin
                        li.header-menu__item
                            a(href='#') Community
                        li.header-menu__item.header-menu__item_button
                            a(href='#') Buy Now
    .container
        .description
            img(src='img/eyeleo.png' alt='eyeleo').description__image
            h1.description__title An app that keeps your eyes healthy.
            div.description__text
                | EyeLeo for Mac is an app that regulary reminds you to take a rest for your eyes,
                br
                | shows you simple eye exercises and prevents you from using Mac during these exercises.
                br
                | When you're working at a computer it's easy to forget about time. This leads to eye strain
                br
                | and other physical problems. EyeLeo guarantees you won't forget to take a break.